In [1]:
import pandas as pd


df_quant = pd.read_csv("/Users/delser/Desktop/PhD/Phytochemistry/FBMN/alltissues/FEATURE-BASED-MOLECULAR-NETWORKING-cf822b6c-15072021/alltissues-occ-for-motif-dist.csv",index_col='row ID', sep=",")

df_motif = pd.read_csv("/Users/delser/Desktop/PhD/Phytochemistry/FBMN/alltissues/FEATURE-BASED-MOLECULAR-NETWORKING-cf822b6c-15072021/MS2LDA-all.csv",index_col='row ID', sep=",")

df_frag=pd.read_csv("/Users/delser/Desktop/PhD/Phytochemistry/FBMN/alltissues/FEATURE-BASED-MOLECULAR-NETWORKING-cf822b6c-15072021/MS2LDA-fragments.csv",index_col='Motif', sep=",")

In [2]:
df_frag.head()

                                     Feature   Min m/z   Max m/z  Probability
Motif
rhabdus_motif_95.m2m       fragment_100.0725  100.0700  100.0750        0.189
urine_mass2motif_27.m2m    fragment_100.0775  100.0750  100.0800        0.800
rhabdus_motif_250.m2m      fragment_100.1125  100.1100  100.1150        0.347
StrepSalini_motif_233.m2m  fragment_100.1500  100.1475  100.1525        0.117
rhamn_motif_163.m2m        fragment_101.0225  101.0200  101.0250        0.936

In [3]:
df_motif.head()
df_motif_red=df_motif.drop(["Precursor Mass","Retention Time","Document Annotation","Document","Probability","Overlap Score"], axis=1)

df_motif_red.head()

                    Motif
row ID
1               motif_433
1               motif_591
1               motif_502
1       gnps_motif_43.m2m
2               motif_433

In [4]:
#result= pd.concat([df_quant, df_motif.reindex(df_quant.index)], axis=1)
#result = pd.concat([df_quant, df_motif], ignore_index=True, sort=False)
result = df_quant.join(df_motif, how="outer")
#result = left.join(right, how="outer")
result.head()

,Nrep,Nnes,Nrxs,Nsto,Ntab,Nglu,Nben,Ncle,Ngla,Ngoo,...,Solvent_RA5,Solvent_RA26,Solvent_RA7,Document,Motif,Probability,Overlap Score,Precursor Mass,Retention Time,Document Annotation
row ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,motif_433,0.579,0.791,375.3009,None,None
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,motif_591,0.164,0.183,375.3009,None,None
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,motif_502,0.111,0.603,375.3009,None,None
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,gnps_motif_43.m2m,0.102,0.938,375.3009,None,None
2,2,2,3,1,1,0,0,0,0,0,...,0,0,0,2,motif_433,0.727,0.813,375.3009,None,None

In [5]:
clean=result.drop(["Precursor Mass","Retention Time","Document Annotation","Document"], axis=1)

In [6]:
#clean=clean.reset_index()

#full=result = df_quant.join(df_motif, how="outer")

In [7]:
#clean=clean.set_index("Motif")
#clean.head()

In [8]:
#full = clean.join(df_frag, how="outer")
#full.head()

In [9]:
#full.to_csv("alltissues27042021_all.csv",sep=',')

In [10]:
#occur = full.groupby(['Motif', 'row ID']).size()

#occur.head()

In [11]:
#occur.to_csv("alltissues27042021_counts.csv",sep=',')

In [12]:
occur1 = clean.groupby(['Motif', 'row ID']).size()

occur1.head()
clean.head()
#df.groupby(by=df.columns, axis=1).sum()

,Nrep,Nnes,Nrxs,Nsto,Ntab,Nglu,Nben,Ncle,Ngla,Ngoo,...,Solvent_RA1,Solvent_RA2,Solvent_RA3,Solvent_RA4,Solvent_RA5,Solvent_RA26,Solvent_RA7,Motif,Probability,Overlap Score
row ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,motif_433,0.579,0.791
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,motif_591,0.164,0.183
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,motif_502,0.111,0.603
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,gnps_motif_43.m2m,0.102,0.938
2,2,2,3,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,motif_433,0.727,0.813

In [13]:
new=pd.get_dummies(df_motif_red, columns=['Motif'])
new.head()
#new.to_csv("counts-motif.csv",sep=',')

,Motif_StrepSalini_motif_10.m2m,Motif_StrepSalini_motif_105.m2m,Motif_StrepSalini_motif_106.m2m,Motif_StrepSalini_motif_108.m2m,Motif_StrepSalini_motif_110.m2m,Motif_StrepSalini_motif_113.m2m,Motif_StrepSalini_motif_119.m2m,Motif_StrepSalini_motif_128.m2m,Motif_StrepSalini_motif_144.m2m,Motif_StrepSalini_motif_168.m2m,...,Motif_urine_mass2motif_68.m2m,Motif_urine_mass2motif_78.m2m,Motif_urine_mass2motif_80.m2m,Motif_urine_mass2motif_83.m2m,Motif_urine_mass2motif_88.m2m,Motif_urine_mass2motif_90.m2m,Motif_urine_mass2motif_93.m2m,Motif_urine_mass2motif_94.m2m,Motif_urine_mass2motif_95.m2m,Motif_urine_mass2motif_97.m2m
row ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
#df_bool=new.drop_duplicates(subset=["row m/z"])
#df_bool.head()
#df_bool.to_csv("counts-motif-dupl.csv",sep=',')

In [15]:
#x=new.groupby(level=0)['row ID'].sum().reset_index()
x=new.groupby(new.index).sum()
x.head()

#y=x.transpose()
a=df_quant
#a=a.transpose()

#y.head()

In [16]:
#a.head()
x.head()
#x.to_csv("counts-motif.csv",sep=',')

,Motif_StrepSalini_motif_10.m2m,Motif_StrepSalini_motif_105.m2m,Motif_StrepSalini_motif_106.m2m,Motif_StrepSalini_motif_108.m2m,Motif_StrepSalini_motif_110.m2m,Motif_StrepSalini_motif_113.m2m,Motif_StrepSalini_motif_119.m2m,Motif_StrepSalini_motif_128.m2m,Motif_StrepSalini_motif_144.m2m,Motif_StrepSalini_motif_168.m2m,...,Motif_urine_mass2motif_68.m2m,Motif_urine_mass2motif_78.m2m,Motif_urine_mass2motif_80.m2m,Motif_urine_mass2motif_83.m2m,Motif_urine_mass2motif_88.m2m,Motif_urine_mass2motif_90.m2m,Motif_urine_mass2motif_93.m2m,Motif_urine_mass2motif_94.m2m,Motif_urine_mass2motif_95.m2m,Motif_urine_mass2motif_97.m2m
row ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
#esult_bool = df_quant.join(x, how="outer")
#result_bool.head()
a.head()

,Nrep,Nnes,Nrxs,Nsto,Ntab,Nglu,Nben,Ncle,Ngla,Ngoo,...,Nsyl,10 Sol_,1-10 Sol_,Solvent_RA1,Solvent_RA2,Solvent_RA3,Solvent_RA4,Solvent_RA5,Solvent_RA26,Solvent_RA7
row ID,,,,,,,,,,,,,,,,,,,,,
1465,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,0,0,0,0
11687,0,0,0,0,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,0
23160,1,1,3,4,3,3,4,4,4,2,...,2,0,0,0,0,0,0,0,0,0
13348,4,3,4,4,5,5,5,5,2,5,...,4,0,0,0,1,0,0,0,0,0
30656,4,3,4,4,4,4,4,5,4,4,...,4,0,0,0,0,0,0,0,0,0

In [20]:
quant0=a.where(a >0,0) 
quant0.head()

,Nrep,Nnes,Nrxs,Nsto,Ntab,Nglu,Nben,Ncle,Ngla,Ngoo,...,Nsyl,10 Sol_,1-10 Sol_,Solvent_RA1,Solvent_RA2,Solvent_RA3,Solvent_RA4,Solvent_RA5,Solvent_RA26,Solvent_RA7
row ID,,,,,,,,,,,,,,,,,,,,,
1465,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,0,0,0,0
11687,0,0,0,0,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,0
23160,1,1,3,4,3,3,4,4,4,2,...,2,0,0,0,0,0,0,0,0,0
13348,4,3,4,4,5,5,5,5,2,5,...,4,0,0,0,1,0,0,0,0,0
30656,4,3,4,4,4,4,4,5,4,4,...,4,0,0,0,0,0,0,0,0,0

In [21]:
quant1=quant0.where(quant0==0,1)
quant1.head()

,Nrep,Nnes,Nrxs,Nsto,Ntab,Nglu,Nben,Ncle,Ngla,Ngoo,...,Nsyl,10 Sol_,1-10 Sol_,Solvent_RA1,Solvent_RA2,Solvent_RA3,Solvent_RA4,Solvent_RA5,Solvent_RA26,Solvent_RA7
row ID,,,,,,,,,,,,,,,,,,,,,
1465,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,0,0,0,0
11687,0,0,0,0,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,0
23160,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
13348,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,1,0,0,0,0,0
30656,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [31]:
quant1.to_csv("feature-bin.csv",sep=',')
#nrep=quant1[["07 Nrep"]]
#nrep.head()

In [21]:
#rslt_df = nrep[nrep["07 Nrep"] > 0]
#rslt_df.head()

In [22]:
#test = rslt_df.join(x, how="inner")
#test.head()

In [23]:
#allsum=test.sum(axis=0)

In [24]:
#allsum.head()

In [22]:
headers=quant1.columns.values.tolist()
listindex=x.columns.values.tolist()
#fullindex=headers+listindex
print(headers)

['Nrep', 'Nnes', 'Nrxs', 'Nsto', 'Ntab', 'Nglu', 'Nben', 'Ncle', 'Ngla', 'Ngoo', 'Natt', 'Nnud', 'Nobt', 'Npal', 'Npan', 'Nplu', 'Nrus', 'Nset', 'Nwut', 'Nsyl', '10 Sol_', '1-10 Sol_', 'Solvent_RA1', 'Solvent_RA2', 'Solvent_RA3', 'Solvent_RA4', 'Solvent_RA5', 'Solvent_RA26', 'Solvent_RA7']

In [23]:
kwargs = {}
for i in headers:
    fsamples=quant1[[i]] #retrieve one sample
    fsamples = fsamples[fsamples[i] > 0] # remove zero occurences of features
    fmotifs = fsamples.join(x, how="inner") # merge with motifs, but only the ones present
    allsums=fmotifs.sum(axis=0)
    kwargs[i] = allsums

#print(kwargs)

In [27]:
#type(kwargs['07 Nrep'])

In [24]:
df3 = pd.DataFrame(kwargs, index=listindex )

df4 =pd.DataFrame(kwargs, index=headers )
"""
df2 = pd.DataFrame(columns=headers)
for i in headers:
    df1=kwargs[i].to_frame()
    df2.join(df1, how="outer")
    
df2.head()
"""

'\ndf2 = pd.DataFrame(columns=headers)\nfor i in headers:\n    df1=kwargs[i].to_frame()\n    df2.join(df1, how="outer")\n    \ndf2.head()\n'

In [27]:

#liste=["a","b","c"]
#df3 = pd.DataFrame( index=listindex )
#df(3) = pd.DataFrame(columns = ['Name', 'Articles', 'Improved'], 
                   #index = ['a', 'b', 'c'])
#df3.columns=liste
df3.head()

,Nrep,Nnes,Nrxs,Nsto,Ntab,Nglu,Nben,Ncle,Ngla,Ngoo,...,Nsyl,10 Sol_,1-10 Sol_,Solvent_RA1,Solvent_RA2,Solvent_RA3,Solvent_RA4,Solvent_RA5,Solvent_RA26,Solvent_RA7
Motif_StrepSalini_motif_10.m2m,1,2,1,1,1,2,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
Motif_StrepSalini_motif_105.m2m,1,1,1,1,1,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
Motif_StrepSalini_motif_106.m2m,3,3,3,2,4,2,2,1,1,1,...,4,0,0,0,0,0,0,0,0,0
Motif_StrepSalini_motif_108.m2m,1,1,1,1,2,2,2,2,3,2,...,0,0,0,0,0,0,0,0,0,0
Motif_StrepSalini_motif_110.m2m,1,1,0,2,13,2,30,9,9,19,...,1,0,0,0,0,0,0,0,0,0

In [28]:
df3.to_csv("alltissues15072021_counts-motif-sumall.csv",sep=',')

In [31]:
df4.fillna(0,inplace=True)
ds=df4.sum(axis=0)
ds.to_csv("alltissues15072021_counts-samples.csv",sep=',')