In [1]:
import pandas as pd
df_nm=pd.read_csv("/Users/delser/ownCloud/Metabolomics-Paper-shared/NMDS.tsv",sep="\t") 
df_nm

    site     NMDS1     NMDS2
0   Nrep -0.292047 -0.077218
1   Nnes -0.293818 -0.115818
2   Nsto -0.209968 -0.122561
3   Nrxs -0.344995  0.018594
4   Ntab -0.111481  0.241822
5   Nglu -0.007123  0.071038
6   Nben  0.056487 -0.196767
7   Ncle  0.123664 -0.026483
8   Ngla  0.278648 -0.028051
9   Ngoo  0.123304 -0.152456
10  Natt  0.068780 -0.010691
11  Nnud  0.158457  0.054675
12  Nobt  0.087636  0.040392
13  Npal  0.085976  0.043588
14  Npan  0.156484 -0.056242
15  Nplu  0.162756  0.156130
16  Nrus  0.068306 -0.073165
17  Nset  0.013056  0.188945
18  Nwut  0.074394 -0.102366
19  Nsyl -0.198517  0.146635

In [2]:
df_gr=pd.read_csv("/Users/delser/ownCloud/Metabolomics-Paper-shared/groups.tsv",sep="\t") 
df_gr

,Row.names,NMDS1,NMDS2,.
0,Alkaloids and derivatives_Alkaloids and deriva...,-0.999482,-0.032186,0.135
1,Benzenoids_Amino acids,-0.787508,-0.616304,0.001
2,Benzenoids_Aralkylamines,-0.888886,-0.458128,0.001
3,Benzenoids_Benzenoids,-0.998158,0.060661,0.018
4,Benzenoids_Benzoic acid esters,-0.671258,-0.741224,0.004
...,...,...,...,...
83,Phenylpropanoids and polyketides_Coumarins and...,-0.882834,-0.469685,0.001
84,Phenylpropanoids and polyketides_Flavonoid-3-O...,0.691019,0.722837,0.289
85,Phenylpropanoids and polyketides_Hydroxycinnam...,-0.302918,0.953017,0.458
86,Phenylpropanoids and polyketides_Macrolactams,-0.832907,-0.553414,0.126
87,Phenylpropanoids and polyketides_Macrolides an...,-0.989364,-0.145461,0.531

In [45]:
n1=df_gr["NMDS1"].to_list()
n2=df_gr["NMDS2"].to_list()
n3=df_gr["Row.names"].to_list()
n4=df_gr["."].to_list()
sp1=df_nm["NMDS1"].to_list()
sp2=df_nm["NMDS2"].to_list()
sp3=df_nm["site"].to_list()

In [46]:
v_groups=[]
for v1,v2,v3,v4 in zip(n1,n2,n3,n4):
    v_groups.append([[v1,v2],v3,v4])

In [20]:
v_sp=[]
for v1,v2,v3 in zip(sp1,sp2,sp3):
    v_sp.append([[v1,v2],v3])

In [24]:
from scipy.spatial import distance
distance.cosine(v_groups[0][0], v_sp[0][0])

0.02549550129804623

In [22]:
v_groups[0][0]

[-0.9994819093605, -0.0321856002132844]

In [52]:
v_groups[0][2]

0.135

In [23]:
v_sp[0][0]

[-0.292047401942417, -0.0772175066185113]

In [41]:
v_sp[0][1]

'Nrep'

In [53]:
cosine_scores=[]
species=[]
groups_sp=[]
pval=[]
for sp in v_sp:
    print(sp[1])
    for gr in v_groups:
        species.append(sp[1])
        cosine_scores.append(distance.cosine(gr[0],sp[0]))
        groups_sp.append(gr[1])
        pval.append(gr[2])

Nrep
Nnes
Nsto
Nrxs
Ntab
Nglu
Nben
Ncle
Ngla
Ngoo
Natt
Nnud
Nobt
Npal
Npan
Nplu
Nrus
Nset
Nwut
Nsyl

In [32]:
len(species)

1760

In [33]:
len(groups_sp)

1760

In [34]:
len(cosine_scores)

1760

In [54]:
df = pd.DataFrame([species,groups_sp,cosine_scores,pval])
df_transpose=df.T

In [55]:
df_transpose.to_csv("distance_to_canopus.tsv",sep="\t")